<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<!-- <%=
  jsonresults=@results.to_json
  parsed_json = JSON.parse jsonresults
  to_print=""
  parsed_json.each do |json_entry|
    to_print = to_print + json_entry["question"]
  end
  parsed_json
%> -->

<% (2..37).each do |i| %>
<h6><%= "Question " + i.to_s%>: <%=
  @quest=Question.find_by(qid: "question" + i.to_s)
  @quest.question_text
  %></h6>
<%=
answers = AggregatedResponse.where(course_id: params[:course], question: "question"+ i.to_s)
cleaned = {}

answers.each do |answer|
  cleaned.merge!(answer[:answer] => answer[:count])
end

pie_chart cleaned
%>



<!-- test = {"1" => 300, "2" => 100}

pie_chart @results.where(:question=>"question2").group(:answer).count -->
<% end %>
