<%= javascript_include_tag 'knockout-min' %>
<%= javascript_include_tag 'survey.bootstrap.min' %>
<%= javascript_include_tag 'survey' %>

<h3><%= @course.course_code %>: <%= @course.course_name%></h3>
<div id="surveyContainer"></div>
