<%= stylesheet_link_tag "courses.search" %>

<strong>Results:</strong>
<ul class="collapsible popout" data-collapsible="accordion">
  <% @course.each do |course| %>
    <li>
      <div class="collapsible-header">
        <%= course.course_code%>: <%= course.course_name%>
      </div>
      <div class="collapsible-body">
        <p><%= course.description%></p>
        <%= link_to "more info", course_path(course) %>
        <%- if current_user %>
          <%= button_to 'enroll', course_enroll_path(course),class: "waves-effect waves-light btn", method: :post %> 
        <% end %>
        </br>
      </div>
    </li>    
  <% end %>
</ul>



