<div class="jumbotron">
  <h1><%= @course.course_code %></h1>
  <h2><%= @course.course_name %></h2>
  <p>
    <%= @course.description %>
  </p>
  <p>
    <%= link_to "Course Discussion Board", {:controller => :posts, :course => params[:id]}, {class: 'btn btn-info'} %>
    <%= link_to "Take Survey",  {:controller => :surveys, :action => :show, :course => params[:id]}, {class: 'btn btn-primary'}%>
    <%- if current_user  and current_user.courses.exists?(@course.id) %>
    <%= link_to 'unenroll', course_unenroll_path(@course),class: "btn unenroll-button" ,id: "unenroll_"+@course.id.to_s, method: :post %>
    <%elsif current_user  %>
    <%= link_to 'enroll', course_enroll_path(@course),class: "btn enroll-button",id: "enroll_"+@course.id.to_s, method: :post %>
    <% end %>

  </p>
</div>

<p>
    <strong>prof:</strong>
    <%= @course.course_prof %>
</p>

<p>
    <strong>prerequisites:</strong>
    <%= @course.prerequisites %>
</p>

<p>
    <%= commontator_thread(@course) %>
</p>
