<div class="jumbotron">
  <h1><%= @course.course_code %></h1>
  <h2><%= @course.course_name %></h2>
  <p>
    <%= @course.description %>
  </p>
  <p>
    <%= button_to "Course Discussion Board", {:controller => :posts, :action => :index, :course => params[:id]}, {class: 'btn btn-primary'} %>
  </p>
</div>

<p>
    <strong>prof:</strong>
    <%= @course.course_prof %>
</p>

<p>
    <strong>prerequisites:</strong>
    <%= @course.prerequisites %>
</p>

<p>
    <%= commontator_thread(@course) %>
</p>
