
<p>
  <strong>Title:</strong>
  <%= @course.course_name %>
</p>

<p>
  <strong>code:</strong>
  <%= @course.course_code %>
</p>

<p>
  <strong>prof:</strong>
  <%= @course.course_prof %>
  </p>

  <p>
    <strong>name:</strong>
    <%= @course.course_name %>
    </p>

    <p>
      <strong>description:</strong>
      <%= @course.description %>
      </p>

      <p>
        <strong>prerequisites:</strong>
        <%= @course.prerequisites %>
        </p>
        <p>
          <strong>comments:</strong>
          <%= commontator_thread(@course) %>
          </p>
