<%= stylesheet_link_tag "courses.search" %>

  <strong>My Courses:</strong>


<ul class="collapsible popout" data-collapsible="accordion">
  <% @course.each do |course| %>
    <li>
      <div class="collapsible-header">
        <%= course.course_code%>: <%= course.course_name%>
      </div>
      <div class="collapsible-body">
        <p><%= course.description%></p>
        <%= button_to 'More Info', course_path(course), class: "waves-effect waves-light btn", method: :get%> 
        </br>
      </div>
    </li>    
  <% end %>
</ul>
