<!DOCTYPE html>
<html>

    <head>
        <title>clarity</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

    </head>

    <body id="navpad">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%if current_user%>
                    <a class="navbar-brand page-scroll" data-method="get" href="/courses/user_courses">
                      <img class="logo" align="left" src="/img/clarity.svg"/>clarity
                    </a>
                    <%else%>
                    <a class="navbar-brand page-scroll" data-method="get" href="<%=root_url%>">
                      <img class="logo" align="left" src="/img/clarity.svg"/>clarity
                    </a>
                    <%end%>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <%- if current_user %>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <%= form_tag search_courses_path, method: :get, class: "navbar-form", role: "search" do %>
                            <div class='form-group'>
                                <%= text_field_tag :search, params[:search], class: "form-control",id: "course_search", autocomplete: "off", placeholder: "Search for a course" %>
                                <%= submit_tag "Search", name: nil, class: "btn btn-default", method: :get %>
                            </div>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to "My Courses" , user_courses_courses_path, method: :get %>
                        </li>
                        <li>
                          <%= link_to "I'm Feeling Lucky", "/courses/", method: :get %>
                        </li>
                        <li>
                            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                        </li>
                    </ul>
                    <% end %>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <% flash.each do |a,b|  %>
                    <div class="alert alert-success">
                        <%= b %>
                    </div>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <%= yield %>
                </div>
            </div>

        </div>
        <br />
        <br />
        <div class="navbar-inverse navbar-fixed-bottom">
          <div class="container-fluid">
            <div class="text-center">
              <a href="http://www.soti.net/"><h6 style="color:white;">Powered By <img src="/img/soti.png" style="max-width: 90px; max-height: 57px;"/></h6></a>
            </div>
          </div>
        </div>
    </body>

</html>
